@font-face {
  font-family: 'Lato-Bold';
  src: url('fonts/Lato-Bold/Lato-Bold.eot');
  src: local('☺'), url('fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'), url('fonts/Lato-Bold/Lato-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato-Regular/Lato-Regular.eot');
  src: local('☺'), url('fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Regular/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  overflow-x: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
  font-family: "Lato-Regular";  
}

/* стили переключателья */
.switch-play-training {
  position: absolute;
  top: calc(50% - 12px);
  display: inline-block;
  width: 120px;
  height: 32px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 1px 0px;
  right: 30px;
}



.switch-play-training .switch-play-training__input-checkbox {
  display: none;
}



.switch-play-training__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b591d;
  -webkit-transition: .4s;
  transition: .4s;
}


.switch-play-training__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  bottom: calc(50% - 13px);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(50px);
  transform: translateX(90px);
  box-shadow: 0 0 4px 4px #f70000;
}


.switch-play-training__input-checkbox:checked+.switch-play-training__slider {
  background-color: rgb(28, 27, 27);
}


.input-checkbox:focus+.switch-play-training__slider {
  box-shadow: 0 0 1px #2196F3;
}


.switch-play-training__input-checkbox:checked+.switch-play-training__slider:before {
  left: 4px;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  box-shadow: 0 0 0px 0px #f70000;
}





.switch-text {
  position: absolute;
  top: 0px;
  right: 13px;
  color: white;
  background: none;
  font-size: 25px;
  width: min-content;
}

.switch-text-active {
  left: 13px;
}





.switch-play-training__round:before {
  border-radius: 50%;
}


.main-menu-switch-container {
  position: relative;
  background-color: rgb(251, 251, 251);
  height: 80px;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px 1px #000000c7;
}

/* стили для меню */
.main-menu-switch {
  position: absolute;
  top: calc(50% - 21px);
  left: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 50px;
  z-index: 2;
  transition: all 0.3s ease-in;
}


.main-menu-switch:hover {
  cursor: pointer;
}


.main-menu-switch-active {
  transition: all 0.3s ease-in;
  transform: rotate(90deg);
}


.main-menu-switch li {
  border-bottom: 5px solid black;
  width: 100%;
  height: 3px;
  padding-bottom: 6px;
}

.main-menu-switch-active li {
  border-bottom: 5px solid white;

}


.main-menu-container {
  position: absolute;
  height: 100vh;
  max-width: 360px;
  top: 0px;
  left: -390px;
  padding: 80px 60px 70px 75px;
  background-color: #020202e3;
  border: 0;
  border-radius: 2%;
  box-sizing: border-box;
  z-index: 1;
  transition: all 0.4s ease-in;
}

.main-menu-container-play {
  background-color: #114401e3;
}

.main-menu-container-active {
  left: 0;
  transition: all 0.4s ease-in;
}




.main-menu-list {
  padding: 0;
  list-style: none;
}


.main-menu-list__item {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.main-menu-list__item:hover {
  cursor: pointer;
  opacity: 0.5;
  text-decoration: underline;
}


.main-menu-list__item-click {
  color: red;
}


/* стили карточек */
.cards-container {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}


.cards-container-active {
  opacity: 0.4;
} 

.card {
  margin: 0;
  box-shadow: 0 0 5px 1px black;
 }


 .category-card {
  position: relative;
  width: 300px;
  height: 251px;
  margin: 25px 20px;
 }

.card_vrap-rotate {
  /* самый верхний контейнер карточки */
  width: 300px;
  height: 251px;
  margin: 25px 20px;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card_flipper-rotate {
  position: relative;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.7s linear;
  -moz-transition: 0.7s linear;
  -o-transition: 0.7s linear;
  transition: 0.7s linear;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}


.card-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card_vrap-rotate-click-hover:hover .card_flipper-rotate {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}










.card-hidden {
  display: none;
}





.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-image-play {
 height: 251px;
}


.card-text {
  text-align: center;
  padding: 8px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  overflow: hidden;
}


.card-text-hidden {
  display: none;
}

.main-card-color-text-play {
  color: white;
  letter-spacing: 2px;
}

.main-card-text-fill-training {
  background-color: #114401e3;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width .2s;
  z-index: -1;
}

.main-card-text-fill-play {
  width: 100%;
}


.rotate-button {
  position: absolute;
  bottom: 0px;
  right: 15px;
  width: 51px;
  height: 50px;
  transform: rotate(-20deg);
}


.rotate-button-hidden {
  display: none;
}


.hand-drawn-arrow {
  width: 100%;
  height: 100%;
  background-image: url(images/hand-drawn-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.hand-drawn-arrow:hover {
  cursor: pointer;
  background-image: url(images/hand-drawn-arrow-hover.png);
}







.category-card {
  width: 300px;
  box-shadow: 0 0 5px 1px black;
  transition: all 0.1s ease-in;
}


.category-card:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 0px 0px 6px 1px black, 0px 18px 20px 1px #000000ba;
  transition: all 0.1s ease-in;
}

.button-mode-game {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 143px);
  background-color: #2b591d;
  padding: 10px 100px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  box-shadow: 0 2px 11px 1px black;
  outline: none;
  border-radius: 15px;
  border: none;
}



.button-mode-game:hover {
  cursor: pointer;
}

.container-star {
  margin: 30px auto;
  display: flex;
  justify-content: flex-end;
  width: 1180px;
  overflow: hidden;
  height: 50px;
}

.star-win {
  margin: 0 10px;
  min-width: 50px;
  height: 50px;
  background-image: url("images/star-win.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.star-lose {
  margin: 0 10px;
  min-width: 50px;
  height: 50px;
  background-image: url("images/star-lose.png");
  background-size: contain;
  background-repeat: no-repeat; 
}


.body-lose {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  background-image: url(images/failure.jpg);
  background-size: cover;
}

.count-error-container {

}

.count-error-text {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black
}

.count-error-value {
  color: red;
  font-weight: bold;
}

.body-win {
  width: 300px;
  height: 250px;
  margin: 50px auto;
  background-image: url(images/success.jpg);
  background-size: cover;
}

.button-mode-game-active {
  color: white;
  border-radius: 75%;
  background: url(images/repeat_game.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 46px;
  height: 30px;
  padding: 38px;
  left: calc(50% - 37px);
  
  box-shadow: inset 0 0 5px 2px #730c15ed;
  transition: box-shadow 0.1s ease-in;
}


.button-mode-game-click {
  box-shadow: inset 0 0 0 0 #730c15ed, 0 0 8px 4px #730c15ed;
  
}





@media (max-width: 1180px) {




  .body-lose {
    width: 300px;
    height: 300px;
    margin: 50px auto;
  }
  
  .body-win {
    width: 300px;
    height: 250px;
    margin: 50px auto;
  }


  /* стили карточек */
  .cards-container {
    width: 800px;
  }
  .container-star {
    width: 800px;
    height: 40px;
  }

  .star-win {
    width: 40px;
    height: 40px;
  }
  .star-lose {
    width: 40px;
    height: 40px;
  }



 .category-card {
  width: 240px;
  height: 203px;
  margin: 15px 10px;
 }

  .card_vrap-rotate {
    /* самый верхний контейнер карточки */
    width: 240px;
    height: 203px;
    margin: 15px 10px;
  }

  .rotate-button {
    bottom: 0px;
    right: 15px;
    width: 31px;
    height: 40px;
  }



  .card-image {
    height: 160px;
  }


  .card-image-play {
    height: 203px;
   }

  .card-text {
    font-size: 20px;
  }


  .category-card:hover {

    box-shadow: 0px 0px 4px 1px black, 0px 10px 15px 1px black;
  }

}



@media (max-width: 800px) {


  .count-error-text {
    font-size: 20px;
  }

  /* стили карточек */
  .cards-container {
    width: 500px;
  }

  .container-star {
    width: 500px;
    height: 35px;
  }

  .star-win {
    width: 35px;
    height: 35px;
  }
  .star-lose {
    width: 35px;
    height: 35px;
  }


  .category-card {
    width: 200px;
    height: 177px;
    margin: 15px 10px;
   }

  .card_vrap-rotate {
    /* самый верхний контейнер карточки */
    width: 200px;
    height: 177px;
    margin: 15px 10px;
  }


  .rotate-button {
    bottom: 10px;
    right: 4px;
    width: 40px;
    height: 30px;
  }

  .card-image {
    height: 134px;
  }

  .card-image-play {
    height: 177px;
  }

  .card-text {
    font-size: 20px;
  }

  .category-card:hover {

    box-shadow: 0px 0px 4px 1px black, 0px 5px 10px 1px black;
  }


}




@media (max-width: 500px) {



  .main-menu-container {
    max-width: 260px;
    left: -210px;
    padding: 80px 50px 70px 14px;

  }

  .main-menu-container-active {
    left: 0;
  }


  .main-menu-list__item {
    margin-bottom: 10px;
    font-size: 22px;
  }







  /* стили карточек */
  .cards-container {
    width: 280px;
    margin: 0 auto;
  }


  .container-star {
    width: 280px;
    height: 30px;
  }

  .star-win {
    width: 30px;
    height: 30px;
  }
  .star-lose {
    width: 30px;
    height: 30px;
  }


  .category-card {
    width: 240px;
    height: 205px;
    margin: 15px 5px;
   }






  .card_vrap-rotate {
    /* самый верхний контейнер карточки */
    width: 240px;
    height: 205px;
    margin: 15px 5px;
  }


  .card-image {
    width: 100%;
    height: 160px;
  }


  .card-image-play {
    height: 205px;
  
  }

  .rotate-button {
    bottom: 4px;
    right: 4px;
    width: 50px;
    height: 40px;
  }

  .card-text {
    font-size: 20px;
  }

  .category-card:hover {

    box-shadow: 0px 0px 4px 1px black, 0px 10px 10px 1px black;
  }




  .button-mode-game {

    left: calc(50% - 101px);

    padding: 10px 60px;

  }


}