body {
  margin: 0;
  overflow-x: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
}

/* стили переключателья */
.switch-play-training {
  position: absolute;
  top: calc(50% - 12px);
  display: inline-block;
  width: 60px;
  height: 25px;
  right: 10px;
}



.switch-play-training .switch-play-training__input-checkbox {
  display: none;
}



.switch-play-training__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(44, 26, 143);
  -webkit-transition: .4s;
  transition: .4s;
}


.switch-play-training__slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: calc(50% - 11px);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


.switch-play-training__input-checkbox:checked+.switch-play-training__slider {
  background-color: rgb(32, 14, 2);
}


.input-checkbox:focus+.switch-play-training__slider {
  box-shadow: 0 0 1px #2196F3;
}


.switch-play-training__input-checkbox:checked+.switch-play-training__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(36px);
}



.switch-play-training__round {
  border-radius: 34px;
}


.switch-play-training__round:before {
  border-radius: 50%;
}


.main-menu-switch-container {
  position: relative;
  background-color: rgb(236, 225, 225);
  height: 70px;
  margin-bottom: 70px;
}

/* стили для меню */
.main-menu-switch {
  position: absolute;
  top: calc(50% - 21px);
  left: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 50px;
  z-index: 2;
  transition: all 0.3s ease-in;
}


.main-menu-switch:hover {
  cursor: pointer;
}


.main-menu-switch-active {
  transition: all 0.3s ease-in;
  transform: rotate(90deg);
}





.main-menu-switch li {
  border-bottom: 5px solid black;
  width: 100%;
  height: 3px;
  padding-bottom: 6px;
}


.main-menu-container {
  position: absolute;
  max-width: 360px;
  top: 0px;
  left: -390px;
  padding: 80px 50px 70px 50px;
  background-color: rgb(53, 53, 231);
  border: 0;
  border-radius: 2%;
  opacity: 0.9;
  box-sizing: border-box;
  z-index: 1;
  transition: all 0.4s ease-in;
}

.main-menu-container-active {
  left: 0;
  transition: all 0.4s ease-in;
}




.main-menu-list {
  padding: 0;
  list-style: none;
}


.main-menu-list__item {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.main-menu-list__item:hover {
  cursor: pointer;
  color: red;
}


/* стили карточек */
.cards-container {
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}


.card {
  margin: 0;
  box-shadow: 0 0 5px 1px black;
 }


 .category-card {
  width: 300px;
  height: 251px;
  margin: 25px 20px;
 }

.card_vrap-rotate {
  /* самый верхний контейнер карточки */
  width: 300px;
  height: 251px;
  margin: 25px 20px;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card_flipper-rotate {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.7s linear;
  -moz-transition: 0.7s linear;
  -o-transition: 0.7s linear;
  transition: 0.7s linear;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}


.card-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card_vrap-rotate-click-hover:hover .card_flipper-rotate {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}










.card-hidden {
  display: none;
}





.card-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card-text {
  text-align: center;
  padding: 8px 0;
  font-weight: bold;
  font-size: 25px;
}

.rotate-button {
  position: absolute;
  bottom: 0px;
  right: 15px;
  width: 51px;
  height: 50px;
  transform: rotate(-20deg);
}


.rotate-button:hover {
  cursor: pointer;
}

.hand-drawn-arrow {
  object-fit: fill;
  width: 100%;
  height: 100%;
}


.category-card {
  width: 300px;
  box-shadow: 0 0 5px 1px black;
  transition: all 0.1s ease-in;
}


.category-card:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 0px 0px 6px 1px black, 0px 18px 20px 1px black;
  transition: all 0.1s ease-in;
}









@media (max-width: 1180px) {
  /* стили карточек */
  .cards-container {
    width: 800px;
  }


 .category-card {
  width: 240px;
  height: 203px;
  margin: 15px 10px;
 }

  .card_vrap-rotate {
    /* самый верхний контейнер карточки */
    width: 240px;
    height: 203px;
    margin: 15px 10px;
  }

  .rotate-button {
    bottom: 3px;
    right: 15px;
    width: 31px;
    height: 40px;
  }



  .card-image {
    height: 160px;
  }

  .card-text {
    font-size: 20px;
  }


  .category-card:hover {

    box-shadow: 0px 0px 4px 1px black, 0px 10px 15px 1px black;
  }

}



@media (max-width: 800px) {

  /* стили карточек */
  .cards-container {
    width: 500px;
  }


  .category-card {
    width: 200px;
    height: 177px;
    margin: 15px 10px;
   }

  .card_vrap-rotate {
    /* самый верхний контейнер карточки */
    width: 200px;
    height: 177px;
    margin: 15px 10px;
  }


  .card-image {
    height: 134px;
  }

  .card-text {
    font-size: 20px;
  }

  .category-card:hover {

    box-shadow: 0px 0px 4px 1px black, 0px 5px 10px 1px black;
  }


}




@media (max-width: 500px) {



  .main-menu-container {
    max-width: 250px;
    left: -210px;
    padding: 80px 50px 70px 14px;

  }

  .main-menu-container-active {
    left: 0;
  }


  .main-menu-list__item {
    margin-bottom: 10px;
    font-size: 22px;
  }







  /* стили карточек */
  .cards-container {
    width: 280px;
    margin: 0 auto;
  }


  .category-card {
    width: 240px;
    height: 205px;
    margin: 15px 5px;
   }


  .card_vrap-rotate {
    /* самый верхний контейнер карточки */
    width: 240px;
    height: 205px;
    margin: 15px 5px;
  }


  .card-image {
    width: 100%;
    height: 160px;
  }

  .card-text {
    font-size: 20px;
  }

  .category-card:hover {

    box-shadow: 0px 0px 4px 1px black, 0px 10px 10px 1px black;
  }


}